<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
		<link rel="stylesheet" href="css/404.css">
	</head>
	<body>
		<% include ../partials/navbar.ejs %>
		<div class="ui body container">
			<h1 class="title">404</h1>
			<h2 class="message">This page was not found</h2>
			<div class="return">
				<a href="/">Return to homepage <i class="angle double right icon"></i></a>
			</div>
		</div>
		<% include ../partials/footer.ejs %>
	</body>
</html>