<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
		<link rel="stylesheet" href="/css/api.css">
	</head>
	<body>
		<% include ../partials/navbar.ejs %>
		<div class="ui body container">
			<h1><i class="settings icon"></i> API</h1>
			<div class="ui divider"></div>
			<h2>Check</h2>
			<b>URL</b>: <div class="ui segment">GET "https://etherscamdb.info/api/check/0xDaa29859836D97C810c7F9D350D4A1B3E8CafC9a/" (can be a domain, ethereum address, or ip address)</div><BR>
			<b>Response: </b>
			<div id="check_segment" class="ui long inverted segment">
				<div id="check_loader" class="ui active dimmer">
					<div class="ui loader"></div>
				</div>
				<pre class="check_response">
					
				</pre>
			</div>
			<h2>Report</h2>
			<b>Example URL</b>: <a target="_blank" href="/report/domain/fake-mycrypto.com/">https://etherscamdb.info/report/domain/fake-mycrypto.com/</a><BR>
			<b>Another example URL</b>: <a target="_blank" href="/report/address/0x0000000000000000000000000000000000000000/">https://etherscamdb.info/report/address/0x0000000000000000000000000000000000000000/</a><BR><BR>
			All of the values (fake-mycrypto.com and 0x0000000000000000000000000000000000000000) are optional.
			<h2>Scams</h2>
			<b>URL</b>: <div class="ui segment">GET "https://etherscamdb.info/api/scams/"</div><BR>
			<b>Response: </b>
			<div id="scams_segment" class="ui long inverted segment">
				<div id="scams_loader" class="ui active dimmer">
					<div class="ui loader"></div>
				</div>
				<pre class="scams_response">
					
				</pre>
			</div>
			<h2>Addresses</h2>
			<b>URL</b>: <div class="ui segment">GET "https://etherscamdb.info/api/addresses/"</div><BR>
			<b>Response: </b>
			<div id="addresses_segment" class="ui long inverted segment">
				<div id="addresses_loader" class="ui active dimmer">
					<div class="ui loader"></div>
				</div>
				<pre class="addresses_response">
					
				</pre>
			</div>
			<h2>IPs</h2>
			<b>URL</b>: <div class="ui segment">GET "https://etherscamdb.info/api/ips/"</div><BR>
			<b>Response: </b>
			<div id="ips_segment" class="ui long inverted segment">
				<div id="ips_loader" class="ui active dimmer">
					<div class="ui loader"></div>
				</div>
				<pre class="ips_response">
					
				</pre>
			</div>
			<h2>Verified</h2>
			<b>URL</b>: <div class="ui segment">GET "https://etherscamdb.info/api/verified/"</div><BR>
			<b>Response: </b>
			<div id="verified_segment" class="ui long inverted segment">
				<div id="verified_loader" class="ui active dimmer">
					<div class="ui loader"></div>
				</div>
				<pre class="verified_response">
					
				</pre>
			</div>
			<h2>Blacklist</h2>
			<b>URL</b>: <div class="ui segment">GET "https://etherscamdb.info/api/blacklist/"</div><BR>
			<b>Response: </b>
			<div id="blacklist_segment" class="ui long inverted segment">
				<div id="blacklist_loader" class="ui active dimmer">
					<div class="ui loader"></div>
				</div>
				<pre class="blacklist_response">
					
				</pre>
			</div>
			<h2>Whitelist</h2>
			<b>URL</b>: <div class="ui segment">GET "https://etherscamdb.info/api/whitelist/"</div><BR>
			<b>Response: </b>
			<div id="whitelist_segment" class="ui long inverted segment">
				<div id="whitelist_loader" class="ui active dimmer">
					<div class="ui loader"></div>
				</div>
				<pre class="whitelist_response">
					
				</pre>
			</div>
			
			<h2>Inactives</h2>
			<b>URL</b>: <div class="ui segment">GET "https://etherscamdb.info/api/inactives/"</div><BR>
			<b>Response: </b>
			<div id="inactives_segment" class="ui long inverted segment">
				<div id="inactives_loader" class="ui active dimmer">
					<div class="ui loader"></div>
				</div>
				<pre class="inactives_response">
					
				</pre>
			</div>
			
			<h2>Actives</h2>
			<b>URL</b>: <div class="ui segment">GET "https://etherscamdb.info/api/actives/"</div><BR>
			<b>Response: </b>
			<div id="actives_segment" class="ui long inverted segment">
				<div id="actives_loader" class="ui active dimmer">
					<div class="ui loader"></div>
				</div>
				<pre class="actives_response">
					
				</pre>
			</div>
			
			<h2>Abuse report</h2>
			<b>URL</b>: <div class="ui segment">GET "https://etherscamdb.info/api/abusereport/changellyli.com/"</div><BR>
			<b>Response: </b>
			<div id="abusereport_segment" class="ui long inverted segment">
				<div id="abusereport_loader" class="ui active dimmer">
					<div class="ui loader"></div>
				</div>
				<pre class="abusereport_response">
					
				</pre>
			</div>
		</div>
		<% include ../partials/footer.ejs %>
		<script src="/js/api.js"></script>
	</body>
</html>