<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
	</head>
	<body>
		<% include ../partials/navbar.ejs %>
		<div class="ui body container">
			<h1><i class="help circle icon"></i> FAQ</h1>
			<h2>How to protect myself against scammers?</h2>
			<div class="ui bulleted list">
				<div class="item"><b>Use cold storage</b> - Buy a <a href="https://www.ledgerwallet.com/r/6e75?path=/products/">Ledger Nano S</a> or a <a href="https://shop.trezor.io?a=luit.hollander@gmail.com">Trezor</a></div>
				<div class="item"><b>Bookmark your crypto sites</b> - Use those bookmarks and only those.</div>
				<div class="item"><b>Only send funds to trusted addresses</b> - Double-check what address you're sending ETH to. Look up the address at <a href="https://etherscan.io">etherscan.io</a> and check if there are bad reviews</div>
				<div class="item"><b>Never trust any discord/slack/telegram/reddit message</b> - Don't ever fall for messages that say you can get free ETH or that a hack has occurred.</div>
			</div>
			MyCrypto has written a great guide on <a href="https://support.mycrypto.com/security/securing-your-ethereum.html">protecting yourself and your funds</a>.
			<h2>How can I join the fight?</h2>
			<div class="ui bulleted list">
				<div class="item">Report scams to us <a href="../report">here</a></div>
				<div class="item">Report scams to Google: <a>https://safebrowsing.google.com/safebrowsing/report_phish/?hl=en</a></div>
				<div class="item">Send abuse reports to the registrar, hosting and ssl provider of the scam domains</div>
				<div class="item">Install the <a target="_blank" href="https://chrome.google.com/webstore/detail/ethersecuritylookup/bhhfhgpgmifehjdghlbbijjaimhmcgnf">EtherSecurityLookup</a> extension on your browser</div>
			</div>
			<h2>Can I use the data from this project?</h2>
			Yes, you can either <a href="https://github.com/MrLuit/EtherScamDB/tree/master/_data" target="_blank">download the raw data files from Github</a> or take a look at our <a href="/api">API</a>.
			<h2>Are the reports open source? Where do they go?</h2>
			<p>All reports end up in a private Slack to protect people's privacy. The reports can be read by all team members of MyCrypto and they can decide whether the report makes it to the blacklist.</p>
			<h2>Why was the database created?</h2>
			<p>The database was created in 2017 when trying to find a solution to the ethereum scams. Of course grouping all the scams won't make them go away, but it will make identifying them and taking them down easier. It is now being maintained by members of the <a href="https://mycrypto.com">MyCrypto</a> team. </p>
		</div>
		<% include ../partials/footer.ejs %>
	</body>
</html>