<?xml version="1.0"?>
<rss version="2.0">
  <channel>
    <title>EtherScamDB</title> 
    <link>https://etherscamdb.info</link> 
    <description>An open-source database for all Ethereum and ERC20 scams</description>
	<% scams.forEach(scam => { %>
		<item>
			<title><%= scam.name %></title>
			<link>https://etherscamdb.info/scam/<%= scam.id %>/</link>
			<description><%= scam.category %></description>
		</item>
	<% }); %>
  </channel>
</rss>