.title {
	text-align: center;
	font-size: 60px;
	padding-top: 5%;
}

.message {
	text-align: center;
	padding-top: 5%;
	font-size: 30pt;
}

.return {
	text-align: center;
	padding-top: 2.5%;
	font-size: 20pt;
}