<div class="ui inverted vertical footer segment">
	<div class="ui container">
		<div class="ui horizontal inverted small divided link list footer-item-container" style="display:inline-flex;">
			<div class="item footer-cont">
				<p>
					API Provided by <a target="_blank" href="https://etherscan.io">Etherscan</a> <br />
					Hosted by <a target="_blank" href="https://github.com/MrLuit/EtherScamDB">Github</a>
				</p>
			</div>
			<div class="item footer-cont">
				<p>
					<a href="https://mycrypto.com" target="_blank">
						<img src="/img/powered-by-mycrypto.png" id="footer-item-img" />
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js" integrity="sha256-Wl7niWgEJX3PdPn8lBzIDCWO1FBCYExjQihbT4ldMok=" crossorigin="anonymous"></script>