<title>Ethereum Scam Database</title>
<meta property="og:title" content="Ethereum Scam Database" />
<meta name="twitter:title" content="Ethereum Scam Database" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" integrity="sha256-g4+HzlttFiqgeuCnx3m308o0ahuBZ+0CRxaRWfSL0BU=" crossorigin="anonymous" />
<link rel="stylesheet" href="/css/general.css?version=1534092444">
<meta name="description" content="Keeping track of all current ethereum scams in a large open-source database">
<meta property="og:description" content="Keeping track of all current ethereum scams in a large open-source database" />
<meta name="twitter:description" content="Keeping track of all current ethereum scams in a large open-source database" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="twitter:card" content="summary" />
<meta property="og:url" content="https://etherscamdb.info" />
<link rel="icon" href="/img/favicon.png" type="image/x-icon" />
<link rel="alternate" type="application/rss+xml" href="/rss/" title="RSS feed for EtherScamDB">
<meta property="og:image" content="https://etherscamdb.info/img/etherscamdb.png" />
<meta name="twitter:image" content="https://etherscamdb.info/img/etherscamdb.png" />
<meta name="robots" content="index, follow">
<meta name="keywords" content="ethereum, scam, scamming, ether, eth, tracking, track, db, database, phishing, info, fake, ico">