<div class="ui fixed inverted menu">
	<div class="ui container">
		<a href="/" class="item">
			<i class="home icon"></i> Home
		</a>
		<a href="/scams" class="item">
			<i class="protect icon"></i> Active scams
		</a>
		<a href="/search" class="ui item">
			<i class="search icon"></i> Search
		</a>
		<a href="/api" class="item">
			<i class="settings icon"></i> API
		</a>
		<a href="/faq" class="item">
			<i class="help circle icon"></i> FAQ
		</a>
		<div class="right menu">
			<a href="/report" class="ui item">
				<i class="flag icon"></i> Report
			</a>
		</div>
	</div>
</div>
<!--<div class="ui segment" style="background-color: red; height: 30px; padding-top: 45px; padding-bottom: 25px; color: white; position:absolute; width:100%; text-align: center;">
	<div class="ui container">
		Announcement
	</div>
</div>-->