<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ethereum Scam Database</title>
    <meta property="og:title" content="Ethereum Scam Database" />
    <meta name="twitter:title" content="Ethereum Scam Database" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" integrity="sha256-g4+HzlttFiqgeuCnx3m308o0ahuBZ+0CRxaRWfSL0BU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/general.css?version=1504011548">
    <meta name="description" content="Keep track of all current ethereum scams in a large open-source database">
    <meta property="og:description" content="Keep track of all current ethereum scams in a large open-source database" />
    <meta name="twitter:description" content="Keep track of all current ethereum scams in a large open-source database" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="https://etherscamdb.info" />
    <link rel="icon" href="/logo/favicon.png" type="image/x-icon" />
	<link rel="alternate" type="application/rss+xml" href="/rss/" title="RSS feed for EtherScamDB">
    <meta property="og:image" content="https://etherscamdb.info/img/logo.png" />
    <meta name="twitter:image" content="https://etherscamdb.info/img/logo.png" />
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="ethereum, scam, scamming, ether, eth, tracking, track, db, database, phishing, info, fake, ico">
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/" class="item">
                <i class="home icon"></i> Home
            </a>
            <a href="/scams" class="item">
                <i class="protect icon"></i> Active scams
            </a>
            <a href="/search" class="ui item">
                <i class="search icon"></i> Search
            </a>
			<a href="/api" class="item">
                <i class="settings icon"></i> API
            </a>
            <a href="/faq" class="item">
                <i class="help circle icon"></i> FAQ
            </a>
            <div class="right menu">
                <a href="https://cryptoscamdb.org/report" class="ui item">
                    <i class="flag icon"></i> Report
                </a>
            </div>
        </div>
    </div>
    <div class="ui body container">

        {{ config.perform_dns_lookup }}

        <div class='ui info message'>
            EtherscamDB has evolved into <a href="https://cryptoscamdb.org" target="_blank">CryptoScamDB</a>! As such, this site will no longer be actively updated. <br />
            Please head over to <a href="https://cryptoscamdb.org" target="_blank">https://CryptoScamDB.org</a> for the most up-to-date list of scams. <br /> <br />

            Read More: <a href="https://medium.com/mycrypto/introducing-cryptoscamdb-org-77125e140650" target="_blank">https://medium.com/mycrypto/introducing-cryptoscamdb-org-77125e140650</a>
        </div><br />

        {{ content }}
    </div>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui horizontal inverted small divided link list footer-item-container inlinef">
                <div class="item footer-cont">
                    <p>
                        API Provided by <a target="_blank" href="https://etherscan.io">Etherscan</a> <br />
                        Hosted by <a target="_blank" href="https://github.com/MrLuit/EtherScamDB">Github</a>
                    </p>
                </div>
                <div class="item footer-cont">
                    <p>
                        <a href="https://mycrypto.com" target="_blank">
                            <img src="/img/powered-by-mycrypto.png" id="footer-item-img" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js" integrity="sha256-Wl7niWgEJX3PdPn8lBzIDCWO1FBCYExjQihbT4ldMok=" crossorigin="anonymous"></script>
</body>

</html>
