<h1>FAQ</h1>
<h2>How to protect myself against scammers?</h2>
<div class="ui bulleted list">
  <div class="item"><b>Use cold storage</b> - Buy a <a href="https://www.ledgerwallet.com/r/fa4b?path=/products/">Ledger Nano S</a> or a <a href="https://trezor.io/?a=myetherwallet.com">Trezor</a>.</div>
  <div class="item"><b>Bookmark your crypto sites</b> - Use those bookmarks and only those.</div>
  <div class="item"><b>Only send funds to trusted addresses</b> - Double-check what address you're sending ETH to. Look up the address at <a href="https://etherscan.io">etherscan.io</a> and check if there are bad reviews.</div>
  <div class="item"><b>Never trust any discord/slack/telegram/reddit message</b> - Don't ever fall for messages that say you can get free ETH or that a hack occured.</div>
  <div class="item">MyEtherWallet has written a great guide on <a href="https://myetherwallet.groovehq.com/knowledge_base/topics/protecting-yourself-and-your-funds">protecting yourself and your funds</a>.</div>
</div>
<h2>How can I join the fight?</h2>
<div class="ui bulleted list">
  <div class="item">Report scams to us <a href="../report">here</a></div>
  <div class="item">Report scams to Google: <a>https://safebrowsing.google.com/safebrowsing/report_phish/?hl=en</a></div>
  <div class="item">Send abuse reports to the registrar, hosting and ssl provider of the scam domains</div>
  <div class="item">Install the <a target="_blank" href="https://chrome.google.com/webstore/detail/etheraddresslookup/pdknmigbbbhmllnmgdfalmedcmcefdfn">EtherAddressLookup</a> extension on your browser</div>
</div>
<h2>Why was the database created?</h2>
<p>The database was created in 2017 by the MyEtherWallet team when trying to find a solution to the ethereum scams. Ofcourse grouping all the scams won't make them go away, but it will make identifying them and taking them down easier.</p>
