<link rel="stylesheet" href="/css/redirect.css">
<h1><i class="warning sign icon"></i> Warning</h1>
<h3>You are about to leave the official website to an external domain.</h3>
<div class="ui divider"></div>
<h3>Domain: <b id='domain'>{{ redirect.domain }}</b></h3>
<div class="ui divider"></div>
<div class="ui list">
<div class="item"><h4>Do not click anything.</h4></div>
<div class="item"><h4>Do not fill in any of your information. (And definitely no private keys!)</h4></div>
<div class="item"><h4>Wipe your history after you have visited this domain. You don't want a fake website to show up when you type "myetherwa" in your address bar.</h4></div>
</div>
<div class="ui center aligned segment">
<button class="huge negative ui button">I understand</button>
</div>
<script>let url = "{{ redirect.domain }}";</script>
<script src="/js/redirect.js"></script>