<link rel="stylesheet" href="/css/reportaddress.css">

<div class="question9b">
    <div class="ui centered grid">
        <div class="ui raised segment question">
            <h1>What malicious address would you like to report?</h1>
        </div>
    </div>
    <div class="ui centered align grid addr">
        <div class="ui labeled input question2">
            <div class="ui black label">
                Address:
            </div>
            <input type="text" id="address" value="{{ page.placeholder }}" placeholder="0x0000000000000000000000000000000000000000" maxlength="42">
        </div>
    </div>
    <div class="actions">
        <button id="9sendb" class="ui spacing big primary icon button">
            Continue<i class="angle right icon"></i>
        </button>
    </div>
</div>
<div class="question10">
    <div class="ui centered grid">
        <div class="ui raised segment question">
            <h1>Please specify a reason for your report</h1>
        </div>
    </div>
    <div class="ui form question2">
        <div class="field">
            <textarea id="reason" rows="5"></textarea>
        </div>
    </div>
    <div class="actions">
        <button id="10send" class="ui spacing big primary button">
            Send<i class="angle right icon"></i>
        </button>
    </div>
</div>
<div class="captcha">
    <h2 class="question">Captcha</h2>
    <BR>
    <BR>
    <div class="ui center aligned grid">
        <form id="verifycaptcha">
            <div id="g-recaptcha"></div>
        </form>
    </div>
</div>
<div class="loading">
    <div class="ui active inverted dimmer">
        <div class="ui text loader">Sending</div>
    </div>
</div>
<div class="end">
    <h2 class="ending"><i class="checkmark icon"></i> Thanks for your report</h2>
    <h3>Your report has been sent. In the meanwhile, you can learn how to protect yourself and others in the future:</h3>
    <BR>
    <div class="ui list">
        <div class="item">
            <h3>- Read <a href="https://support.mycrypto.com/security/securing-your-ethereum.html">Protecting Yourself and Your Funds</a> by MyCrypto</h3>
        </div>
        <div class="item">
            <h3 class="link">- Read <a href="https://support.mycrypto.com/security/phish-hacks-thefts-and-stolen-funds-due-to-phishing.html">What To Do If Your Funds Are Stolen</a> by MyCrypto</h3>
        </div>
        <div class="item">
            <h3 class="link">- Buy a <a href="https://www.ledgerwallet.com/r/6e75?path=/products/">Ledger Nano S</a> or a <a href="https://shop.trezor.io/?a=luit.hollander@gmail.com">Trezor</a></h3>
        </div>
        <div class="item">
            <h3 class="link">- <a href="https://safebrowsing.google.com/safebrowsing/report_phish/">Report a domain to Google Safebrowsing</a></h3>
        </div>
        <div class="item">
            <h3 class="link">- If you have IE / Edge, report a domain <a href="https://support.microsoft.com/en-us/help/930167/how-to-report-a-phishing-web-site">here</a></h3>
        </div>
        <div class="item">
            <h3 class="link">Install <a href="https://chrome.google.com/webstore/detail/etheraddresslookup/pdknmigbbbhmllnmgdfalmedcmcefdfn?hl=en-GB">EtherAddressLookup</a> on Google Chrome</h3>
        </div>
		<div class="item">
            <h3 class="link">Install <a href="https://chrome.google.com/webstore/detail/ethersecuritylookup/bhhfhgpgmifehjdghlbbijjaimhmcgnf">EtherSecurityLookup</a> on Google Chrome</h3>
        </div>
    </div>
</div>

<script src="/js/reportaddress.js"></script>
<script src='https://www.google.com/recaptcha/api.js?onload=reCaptchaCallback&render=explicit'></script>
