<link rel="stylesheet" href="../../css/scam.css">
<div id="sharemodal" class="ui tiny modal">
	<i class="close icon"></i>
    <div class="header">
     Share
    </div>
    <div class="content">
	<p>Copy the following url to share with other people:</p>
      <div class="ui input"><input id="shr" readonly="readonly" type="text"></div>
    </div>
    <div class="actions">
		<div class="ui negative icon button">
        <i class="remove icon"></i> Cancel
      </div>
      <div onclick="copyshr()" class="ui primary icon button">
        <i class="copy icon"></i> Copy
      </div>
    </div>
  </div>
<div id="abusemodal" class="ui small modal">
	<i class="close icon"></i>
    <div class="header">
     Abuse Report
    </div>
    <div class="content">
	<div class="ui form">
  <div class="field">
    <textarea id="abuse">{{ scam.abusereport }}</textarea>
  </div>
</div>
    </div>
    <div class="actions">
		<div class="ui negative icon button">
        <i class="remove icon"></i> Cancel
      </div>
      <div onclick="copyabuse()" class="ui primary icon button">
        <i class="copy icon"></i> Copy
      </div>
    </div>
  </div>
<div class="ui grid">
  <div class="eight wide column"><h1>{{ scam.name }}</h1></div>
  <div id="actions" class="eight wide column">
      {{ scam.actions }}
  </div>
</div>
{{ scam.url }}
{{ scam.category }}
{{ scam.description }}
{{ scam.status }}
{{ scam.ip }}
{{ scam.metamask }}
{{ scam.googlethreat }}
{{ scam.nameservers }}
{{ scam.addresses }}
{{ scam.screenshot }}<br /><br />

<div id="disqus_thread"></div>

{{ page.built }}
<script>
var disqus_config = function () {
this.page.identifier = "{{ scam.id }}";
};
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://ethereum-scam-database.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script src="/js/scam.js"></script>